%h1 Apply for travel cost support for #{@conference.title.to_s}

%p
  KDE e.V. has a limited budget for travel and accommodation cost reimbursement for Akademy attendees.

%p
  KDE e.V. usually reimburses up to 80% of the travel expenses for the cheapest reasonable way, subject to availability of funds. This covers transport like air or train tickets.

%p
  If needed, KDE e.V. will additionally reimburse up to 25 EUR per night of accommodation costs, subject to availability of funds. For Akademy 2013, we have booked and paid for hostel beds at the Blas de Otero Residence. Do not book the accommodation yourself, or else KDE e.V. will not be able to reimburse you.

%p
  When a person cannot afford the remaining 20% of travel costs, KDE e.V. may pay 100% of these costs. Please give us a realistic estimate of your travel cost and let us know the dates of your stay.

%p
  You can find further information at:
  %a{:href=>"http://ev.kde.org/rules/reimbursement_policy.php"}
    http://ev.kde.org/rules/reimbursement_policy.php

%p 
  %i*When entering costs, please enter the amount in #{content_tag(:b, 'Euros')}.

%br
%br

%div{:id => "registration"}
  = semantic_form_for(@sponsorship, :url => sponsorship_request_path, :html => {:multipart => true}) do |f|
    = f.inputs :name => "Travel Plans" do
      = f.input :home_town, :label => "Town/City, Country", :as => "string"
      = f.input :tavel_costs, :label => "Travel Costs (€)*", :as => "string"
      = f.input :mode_of_transport, :label => "Main Mode of Transport", :collection => ["Flight","Train","Car","Other"], :as => "select"
      = f.input :travel_notes, :as => "text", :label => "Travel Notes", :hint => "Extra details about your travel plan and costs"
      = f.input :cost_percentage, :label => "Requested percentage of travel cost reimbursement", :as => "string"
      -#= f.input :accomodation_costs, :label => "Accomodation Costs*", :as => "string"
    = f.inputs :name => "Accommodation" do
      = f.input :book_accomodation, :label => "I would like to apply for sponsored accommodation.", :as => "boolean"
      = f.input :from_date, :label => "I need a room at the hostel from", :as => "date", :hint => "When will you be arriving?"
      = f.input :to_date, :label => "to", :as => "date", :hint => "When will you be departing?"
      = f.input :share_room, :label => "Share Room", :hint => "If succesful, you will share a room with another sponsored attendee. If you would prefer to share the room with a specific person, please give their name."
    = f.inputs :name => "Reason(s) for requesting travel cost support" do
      = f.input :user_contribution, :as => "text", :label => "Please describe your contribution to KDE and why you should receive travel support", :required => true
      = f.input :general_info, :as => "text", :label => "Any other information you would like us to know?"
      = f.input :talk_proposed, :label => "I have submitted a talk proposal", :as => "boolean"
      %br
      %br
      = f.input :email, :label => "Please enter your email address so we can contact you", :as => "string", :required => true
    = f.buttons do
      = f.commit_button :button_html => {:class => "btn primary"}, :label => "Apply for Sponsorship"
