%h1 All Conferences
-#%p #{@confs.to_s}

%p From here you can choose to register to attend a conference and/ or submit a talk proposal.

%p If you wish to register, click <b>Register for Conference</b> for your selected conference.

%p If you wish to submit a talk proposal, click <b>Submit a Talk Proposal</b>, then click on <b>Submit a new proposal</b> on the next page 

%table
  %tr
    %th Conference Name
    %th Start Date
    %th End Date
    -#%th
    -#%th
    -#%th
    %th
    %th
  - @confs.each do |object|
    %tr
      %td= object.title
      %td= object.first_day
      %td= object.last_day
      %td
        - if object.enable_registration == 1
          = link_to "Register for Conference", url_for(object.acronym + "/register"), class: "btn btn-small btn-primary"
        - if object.enable_tshirt == 1
          = link_to "Pre-order a T-Shirt", url_for(object.acronym + "/tshirt"), class: "btn btn-small btn-primary"
      %td
        -#- if CallForPapers.where('conference_id = ?', object.id).count > 0
        -#- if object.enable_registration == 1
          = link_to "Submit a Talk Proposal", url_for(object.acronym + "/cfp"), class: "btn btn-small btn-primary"
    %tr
      %td
      %td
      %td
      %td
        - if AdminPrivs.new.can_admin_conference @current_user, object.id
          = link_to "Manage Conference", url_for(object.acronym + "/conference/edit"), class: "btn btn-small btn-primary"
        - if AdminPrivs.new.can_admin_cfp @current_user, object.id
          = link_to "CFP", url_for(object.acronym + "/events"), class: "btn btn-small btn-primary"
        - if AdminPrivs.new.can_admin_sponsorships @current_user, object.id
          = link_to "Sponsorships", url_for(object.acronym + "/admin_sponsorship/"), class: "btn btn-small btn-primary"
        - if AdminPrivs.new.can_admin_people_view @current_user, object.id
          = link_to "People", url_for(object.acronym + "/people/"), class: "btn btn-small btn-primary"
