%section
  .page-header
    .pull-right
      = action_button "primary", "Add person", new_person_path, :title => "Add a new person."
    %h1 List of people
    %p #{Registration.where("will_attend = 1 and conference_id = #{@conference.id}").count} Total Registrations. #{Registration.where("will_attend = 1 and conference_id = #{@conference.id} and first_time = 1").count} First time attendees.
  %ul.tabs
    %li= link_to "This conference", people_path
    %li.active= link_to "Registrations", registrations_people_path
    %li= link_to "Speakers", speakers_people_path
    %li= link_to "All people", all_people_path
  .row
    .span16
      %table.zebra-striped
        %thead
          %tr
            %th.first
            %th First name
            %th Last name
            %th IRC 
            %th Email
            %th Arrival Date
            %th Departure Date
            %th First Time
            %th.last
        %tbody
          - Registration.where("will_attend = 1 and conference_id = #{@conference.id}").each do |item|
            %tr
              %td= image_box Person.where("user_id = #{item.user_id}").first.avatar, :small
              %td= Person.where("user_id = #{item.user_id}").first.first_name
              %td= Person.where("user_id = #{item.user_id}").first.last_name
              %td= Person.where("user_id = #{item.user_id}").first.public_name
              %td= Person.where("user_id = #{item.user_id}").first.email
              %td= item.arrival_date
              %td= item.departure_date
              %td= item.first_time
              

