%section
  .page-header
    .pull-right
      - if available_conference_locales.size > 1
        %ul.pills
          - available_conference_locales.each do |locale|
            %li{:class => (I18n.locale.to_s == locale.to_s) ? "active" : ""}
              = link_to locale.to_s, url_for( :locale => locale )
    %h1
      = @conference.title
      \- Call for Papers
  .row
    .span8
      = render "shared/flash", :flash => flash
      - if @conference.call_for_papers.welcome_text
        %p!= @conference.call_for_papers.welcome_text
      - else
        %p=t("cfp.welcome_text", :title => @conference.title)
      %h2=t("cfp.login_existing_headline")
      %p=t("cfp.login_existing_description")
      = semantic_form_for @user, :url => cfp_session_path do |f|
        = f.inputs do
          = f.input :email
          = f.input :password
          - if false 
            = f.input :remember_me, :as => :boolean
        = f.buttons do
          = f.commit_button t("cfp.sign_in"), :button_html => {:class => "btn primary"}
    .span8
      %h2=t("cfp.sign_up_headline") 
      %p=t("cfp.sign_up_description", :title => @conference.title)
      %p All user registration is handled by KDE's Identity Service. The following link will take you there.
      %center
        %br
        %p= action_button "", "Take me to Identity", "https://identity.kde.org/?r=registration/index/"