%fieldset.inputs
  %legend Basic
  = f.input :first_name
  = f.input :last_name
  = f.input :irc_nick
  = f.input :public_name, hint: t("cfp.public_name_hint")
  = f.input :gender, collection: translated_options(Person::GENDERS)
  = image_input_box(f.object.avatar)
  = f.input :avatar, hint: t("cfp.avatar_hint")
  = dynamic_association :languages, t("cfp.languages_spoken"), f
  = f.input :country, :collection => [ "Andorra", "United Arab Emirates", "Afghanistan", "Antigua and Barbuda", "Anguilla", "Albania", "Armenia", "Netherlands Antilles", "Angola", "Antarctica", "Argentina", "American Samoa", "Austria", "Australia", "Aruba", "Azerbaijan", "Bosnia and Herzegovina", "Barbados", "Bangladesh", "Belgium", "Burkina Faso", "Bulgaria", "Bahrain", "Burundi", "Benin", "Saint Barthélemy", "Bermuda", "Brunei", "Bolivia", "British Antarctic Territory", "Brazil", "Bahamas", "Bhutan", "Bouvet Island", "Botswana", "Belarus", "Belize", "Canada", "Cocos [Keeling] Islands", "Congo - Kinshasa", "Central African Republic", "Congo - Brazzaville", "Switzerland", "Côte d’Ivoire", "Cook Islands", "Chile", "Cameroon", "China", "Colombia", "Costa Rica", "Serbia and Montenegro", "Canton and Enderbury Islands", "Cuba", "Cape Verde", "Christmas Island", "Cyprus", "Czech Republic", "East Germany", "England", "Germany", "Djibouti", "Denmark", "Dominica", "Dominican Republic", "Algeria", "Ecuador", "Estonia", "Egypt", "Western Sahara", "Eritrea", "Spain", "Ethiopia", "Finland", "Fiji", "Falkland Islands", "Micronesia", "Faroe Islands", "French Southern and Antarctic Territories", "France", "Metropolitan France", "Gabon", "Grenada", "Georgia", "French Guiana", "Guernsey", "Ghana", "Gibraltar", "Greenland", "Gambia", "Guinea", "Guadeloupe", "Equatorial Guinea", "Greece", "South Georgia and the South Sandwich Islands", "Guatemala", "Guam", "Guinea-Bissau", "Guyana", "Hong Kong SAR China", "Heard Island and McDonald Islands", "Honduras", "Croatia", "Haiti", "Hungary", "Indonesia", "Ireland", "Israel", "Isle of Man", "India", "British Indian Ocean Territory", "Iraq", "Iran", "Iceland", "Italy", "Jersey", "Jamaica", "Jordan", "Japan", "Johnston Island", "Kenya", "Kyrgyzstan", "Cambodia", "Kiribati", "Comoros", "Saint Kitts and Nevis", "North Korea", "South Korea", "Kuwait", "Cayman Islands", "Kazakhstan", "Laos", "Lebanon", "Saint Lucia", "Liechtenstein", "Sri Lanka", "Liberia", "Lesotho", "Lithuania", "Luxembourg", "Latvia", "Libya", "Morocco", "Monaco", "Moldova", "Montenegro", "Saint Martin", "Madagascar", "Marshall Islands", "Midway Islands", "Macedonia", "Mali", "Myanmar [Burma]", "Mongolia", "Macau SAR China", "Northern Mariana Islands", "Martinique", "Mauritania", "Montserrat", "Malta", "Mauritius", "Maldives", "Malawi", "Mexico", "Malaysia", "Mozambique", "Namibia", "New Caledonia", "Niger", "Norfolk Island", "Nigeria", "Nicaragua", "Netherlands", "Norway", "Nepal", "Dronning Maud Land", "Nauru", "Neutral Zone", "Niue", "New Zealand", "Northern Ireland", "Oman", "Panama", "Pacific Islands Trust Territory", "Peru", "French Polynesia", "Papua New Guinea", "Philippines", "Pakistan", "Poland", "Saint Pierre and Miquelon", "Pitcairn Islands", "Puerto Rico", "Palestinian Territories", "Portugal", "U.S. Miscellaneous Pacific Islands", "Palau", "Paraguay", "Panama Canal Zone", "Qatar", "Réunion", "Romania", "Serbia", "Russia", "Rwanda", "Saudi Arabia", "Solomon Islands", "Seychelles", "Sudan", "Sweden", "Singapore", "Saint Helena", "Slovenia", "Svalbard and Jan Mayen", "Slovakia", "Sierra Leone", "San Marino", "Senegal", "Somalia", "Suriname", "São Tomé and Príncipe", "Union of Soviet Socialist Republics", "El Salvador", "Scotland", "Syria", "Swaziland", "Turks and Caicos Islands", "Chad", "French Southern Territories", "Togo", "Thailand", "Tajikistan", "Tokelau", "Timor-Leste", "Turkmenistan", "Tunisia", "Tonga", "Turkey", "Trinidad and Tobago", "Tuvalu", "Taiwan", "Tanzania", "Ukraine", "Uganda", "U.S. Minor Outlying Islands", "United States", "Uruguay", "Uzbekistan", "Vatican City", "Saint Vincent and the Grenadines", "North Vietnam", "Venezuela", "British Virgin Islands", "U.S. Virgin Islands", "Vietnam", "Vanuatu", "Wales", "Wallis and Futuna", "Wake Island", "Samoa", "People's Democratic Republic of Yemen", "Yemen", "Mayotte", "South Africa", "Zambia", "Zimbabwe", "Unknown or Invalid Region"].sort

%fieldset.inputs
  %legend= t("cfp.contact_data")
  = f.input :email, hint: t("cfp.email_hint")
  = f.input :email_public, as: :inline_boolean, hint: t("cfp.email_public_hint")
  = f.input :include_in_mailings, as: :inline_boolean, hint: "Do you want to receive information about upcoming conferences by mail?"
  = dynamic_association :phone_numbers, t("cfp.phone_numbers"), f
  = dynamic_association :im_accounts, t("cfp.im_accounts"), f

%fieldset.inputs
  %legend= t("cfp.bio")
  = f.input :abstract, input_html: {rows: 4}, hint: t("cfp.abstract_hint")
  = f.input :description, hint: t("cfp.description_hint")
  = dynamic_association :links, t("cfp.links"), f

%fieldset.inputs
  %legend= "You & KDE"
  = f.input :primary_role, :collection => {"Artist" => "Artist", "Community" => "Community", "Development" => "Development", "Promo" => "Promo", "Translator" => "Translator", "User" => "User", "Other" => "Other"}
  .grouped_checkboxes
    = f.input :other_role_artist, :label => "Artist", value: "Artist", as: 'boolean'
    = f.input :other_role_community, :label => "Community", value: "Community", as: 'boolean'
    = f.input :other_role_development, :label => "Development", value: "Development", as: 'boolean'
    = f.input :other_role_promo, :label => "Promo", value: "Promo", as: 'boolean'
    = f.input :other_role_translator, :label => "Translator", value: "Artist", as: 'boolean'
    = f.input :other_role_user, :label => "User", value: "User", as: 'boolean'
    = f.input :other_role_other, :label => "Other", value: "Other", as: 'boolean'

%fieldset.inputs
  %legend= "Dietary requirements and allergies"
  .grouped_checkboxes
    = f.input :other_dietary_glutenfree, :label => "Gluten Free", :as => 'boolean'
    = f.input :other_dietary_lactosefree, :label => "Lactose Free", :as => 'boolean'
    = f.input :other_dietary_nutfree, :label => "Nut Free", :as => 'boolean'
    = f.input :other_dietary_vegan, :label => "Vegan", :as => 'boolean'
    = f.input :other_dietary_vegetarian, :label => "Vegetarian", :as => 'boolean'
    = f.input :other_dietary_other, :label => "Other", :as => 'boolean'
  = f.input :allergy, :label => "Health or Allergy Information", :as => "text", :hint => "Please tell us of any other health, allergy or dietary requirements you have."

%fieldset.inputs
  %legend= "Emergency Information"
  = f.input :emergency_contact, :label => "Emergency Contact Information", :as => "text", :hint => "Someone we can contact at any time in case of an emergency that involves you. Please provide as much information as you can such as name, phone number including country code, address and the person's relationship to you."


