- content_for :title do
  = link_to 'frab - home', root_url, class: 'brand'

%section
  .page-header
    .pull-right
      - if policy(Conference).new?
        = action_button "primary", "Add conference", new_conference_path, hint: "Add a new conference"
      - if policy(Conference).orga?
        = action_button "primary", "Manage conferences", conferences_path, hint: "Manage all conferences"
        = action_button "secondary", "Search", conferences_path, hint: "Seach conferences"
    %h1 List of conferences

  %ul.tabs
    %li{class: active_class?(root_path)}= link_to "Current Conferences", root_path
    %li{class: active_class?(past_conferences_path)}= link_to "Past Conferences", past_conferences_path

  - if Conference.all.empty? |
    .row
      .span16
        .blank-slate{style: 'padding-bottom: 33%'}
          %p
            There is not a single conference yet.

  - elsif @conferences.empty?
    .row
      .span16
        .blank-slate{style: 'padding-bottom: 33%'}
          %p
            There is no current conference with a call for participation. Maybe you need to log in?

  - else
    = render 'table', collection: @conferences
    = actions_bar do
      = will_paginate @conferences

  %hr

  - content_for :footer do
    .span16
      / :markdown
      /   [frab](http://frab.github.io/frab/) is a conference planning and management system. It helps to collect submissions, manage talks and speakers and create a schedule.

      /   The [users manual](https://github.com/frab/frab/wiki/Manual) is maintained in the [wiki](https://github.com/frab/frab/wiki/).  The source code is hosted on [Github](https://github.com/frab/frab).
