%h1 Manage Administrators

%p This panel can be used to give limited administrator access to some users, if you wish to create super administrators, you should change their role to "admin" in ther Person panel.

%p= link_to "Add New User Priviledges", url_for(manage_administrators_path + "/user"), class: "btn btn-primary"

%table
  %tr
    %th User ID
    %th Email Address
    %th Conferences
    %th CFPs
    %th Sponsorships
    %th View People
    %th
    
  - @admins.each do |object|
    %tr
      %td= object.user_id
      - if User.where("id = ?", object.user_id).count > 0
        %td= User.where("id = ?", object.user_id).first.email
      - else
        %td
      %td= object.conferences
      %td= object.cfps
      %td= object.sponsorships
      %td= object.view_people_privs
      %td= link_to "Manage User", url_for(manage_administrators_path + "/user/?u=#{object.user_id}"), class: "btn btn-small btn-primary"
     