- if @user.respond_to?('email')
  %h1 Admin Settings for #{@user.email}

  = semantic_form_for(@adminprivs, :url => "#{manage_administrators_user_path}/?u=#{@user.id}", :html => {:multipart => false}) do |f|
    = f.inputs :name => "Update Info" do
      = f.input :user_id, :hint => "User ID Only"
      = f.input :cfps, :hint => "Comma Delimited"
      = f.input :conferences, :hint => "Comma Delimited"
      = f.input :sponsorships, :hint => "Comma Delimited", :as => "string"
      = f.input :view_people_privs, :hint => "Comma Delimited", :as => "string"
    = f.buttons do
      = f.commit_button :button_html => {:class => "btn primary"}
- else
  %h1 Add new Admin

  = semantic_form_for(AdminPrivs.new, :url => manage_administrators_user_path, :html => {:multipart => false}) do |f|
    = f.inputs :name => "Update Info" do  
      = f.input :user_id, :hint => "User ID Only"
      = f.input :cfps, :hint => "Comma Delimited"
      = f.input :conferences, :hint => "Comma Delimited"
      = f.input :sponsorships, :hint => "Comma Delimited", :as => "string"
      = f.input :view_people_privs, :hint => "Comma Delimited", :as => "string"
    = f.buttons do
      = f.commit_button :button_html => {:class => "btn primary"}