%h1 My Settings
= semantic_form_for(@user_settings, :url => my_settings_path, :html => {:multipart => true}) do |f|
  = f.inputs :name => "My Settings" do
    = f.label "I may need sponsorship"
    = f.input :may_need_sponsorship, :as => :boolean, :label => ""
  = f.buttons do
    = f.commit_button :button_html => {:class => "btn primary"}, :label => "Save Settings"