%h1 Sponsorship requests for #{@conference.to_s}

%table
  %tr
    %th First Name
    %th Surname
    %th Email
    %th IRC Nick
    %th Date Last Updated
    %th
  - if @sponsors.count > 0
    - @sponsors.each do |object|
      - if object.tavel_costs.to_i > 0  
        %tr
          %td= Person.where("user_id = ?", object.user_id).first.first_name
          %td= Person.where("user_id = ?", object.user_id).first.last_name
          %td= User.where("id = ?", object.user_id).first.email
          %td= User.where("id = ?", object.user_id).first.person.public_name
          %td= object.updated_at
          %td= link_to "View / Manage", url_for("item/"+object.id.to_s), class: "btn btn-small btn-primary"
