%h1 Sponsorship Request

%h2 #{User.where("id = ?", @sponsorship.user_id).first.person.to_s}
%p Country: #{User.where("id = ?", @sponsorship.user_id).first.person.country.to_s}
%p Arrival Date: #{Registration.where("user_id = ? and conference_id = ?", @sponsorship.user_id, @conference.id).first.arrival_date.to_s}
%p Departure Date: #{Registration.where("user_id = ? and conference_id = ?", @sponsorship.user_id, @conference.id).first.departure_date.to_s}
%p 
  %i Last Updated : #{@sponsorship.updated_at}
%hr
%p
  %b Email Address:
%p #{@sponsorship.email}
%p
  %b Home Town:
%p #{@sponsorship.home_town}
%p
  %b Mode of Transport:
%p #{@sponsorship.mode_of_transport}
%p
  %b Travel Notes:
%p #{@sponsorship.travel_notes}
%p
  %b Travel Costs:
%p #{@sponsorship.tavel_costs}
%p
  %b Cost Percentage:
%p #{@sponsorship.cost_percentage}
%p
  %b Would like accomodation booked:
%p
  %b From Date:
%p #{@sponsorship.from_date}
%p
  %b To Date:
%p #{@sponsorship.to_date}
%p
  %b Share Room?
%p #{@sponsorship.share_room}

%p Book my accomodation for me?
%p
  - if @sponsorship.book_accomodation
    Yes
  - else
    No
%p
  %b Has submitted a talk proposal:
%p
  - if @sponsorship.talk_proposed
    Yes
  - else
    No
%p
  %b Contribution to KDE:
%p #{@sponsorship.user_contribution}
%p
  %b Other Information:
%p #{@sponsorship.general_info}
