%h1 Register for #{@conference.to_s}
%div{:id => "registration"}
  %h4 #{@conference.first_day.strftime('%Y-%m-%d')} - #{@conference.last_day.strftime('%Y-%m-%d')}
  = semantic_form_for @registration, :url => register_path do |f|
    = f.inputs do
      = f.label "I will be attending"
      = f.input :will_attend, :label => "#{@conference.title}", :as => "boolean"
      = f.input :arrival_date, :hint => "When will you arrive?", :as => "date"
      = f.input :departure_date, :hint => "When do you expect to depart?", :type => "date"
      = f.input :first_time, :label => "Is this your first time attending?", :as => "boolean"
      - if @conference.acronym.include? "Qt"
        = f.input :qt_contributer, :label => "Qt CS participation criteria", :as => "select", :collection => ["Qt Project maintainer","Qt Project approver","You took part a previous Summit","Sponsorship package including invitations","The organization team","Invited by a maintainer","Invited by the organization team","KDE Akademy contributor"]
    = f.buttons do
      = f.commit_button :button_html => {:class => "btn primary", :value => "Save Registration Information"}
