%h1 Pre-order T-shirts
%p This year we are adding an option for buying an official Akademy 2013 T-Shirt. Attendees can pre-order a shirt, pick it up at Akademy and pay a reduced price.
%p T-Shirt Pre-orders &euro;12, for details see <a href="http://akademy2013.kde.org/tshirt">http://akademy2013.kde.org/tshirt</a>
%p The fitted style is suitable for some women, while others may prefer to wear the regular/standard style.
%div{:id => "registration"}
  = semantic_form_for @bookit, :url => tshirt_path do |f|
    = f.inputs do
      = f.input :size, :hint => "T-Shirt Size", :as => "select", :collection => ["Small","Medium","Large","XL","XXL","XXXL","XXXXL","Fitted Extra Small","Fitted Small","Fitted Medium","Fitted Large","Fitted XL","Fitted XXL"]
      = f.input :attendance, :hint => "Your Attendance", :as => "select", :collection => ["I will definately be attending", "I will most likely be attending", "I am unsure if I will be attending"]
    = f.buttons do
      = f.commit_button :button_html => {:class => "btn primary", :value => "Pre-Book T-Shirt"}
