!!!
%html
  %head
    %title= home_page_title

    = stylesheet_link_tag "application", "admin"
    = javascript_include_tag "application", "admin"
    = csrf_meta_tags

  %body
    .topbar
      .fill
        .container
          = link_to "KDE Conference Management", root_path, class: "brand"

          - if current_user
            %ul.nav
              %li= link_to t('conferences'), root_path
              - if policy(Person).manage?
                %li= link_to t('users'), conference_users_path

            %ul.nav.secondary-nav.pull-right
              - if policy(Conference).index?
                = render 'shared/navi_conferences_menu'
                = render 'shared/navi_account_menu'
              - elsif current_user.person
                = render 'shared/navi_cfp_account'

          - else
            %ul.nav.secondary-nav.pull-right
              = render 'shared/navi_cfp_login'

    .container
      .main-content
        = render 'shared/flash', flash: flash
        = yield
    %footer.footer
      .container
        - if content_for? :footer
          = yield :footer
